* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-size: 13px;
  color: #b5b5b5;
}

label {
  font-size: 15px;
  font-weight: 550;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #00c4b1;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
  font-size: 13px !important;
  height: 40px !important;
  background-color: #eaf3fb !important;
}

textarea {
  font-size: 13px !important;
  background-color: #eaf3fb !important;
}

.btnMain input {
  background-color: #00c4b1;
  color: white;
}

.btnMain input:hover {
  background-color: #00c4b1;
  color: white;
}

/* navBar css start */

.navBarLogo {
  width: 210px;
}

.menu {
  font-weight: 550;
}

.menu a {
  text-decoration: none;
  position: relative;
  padding: 0px 8px;
  margin: 0px 4px;
}

.menu a::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: transparent;
  position: absolute;
  border-radius: 8px;
  left: 0;
  right: 0;
  top: 35px;
  pointer-events: none;
}

.menu a:hover::before {
  background-color: #00c4b1;
}

.menu .dropdown-item:hover {
  background-color: transparent;
}

.menu .dropdown-item:hover::before {
  background-color: transparent;
}

a.dropdown-item {
  font-size: 15px;
  padding: 5px 10px;
  font-weight: bold;
  color: grey;
}

.dropdown-menu {
  background-color: aliceblue;
  margin-top: -12px;
}

.menu a:hover {
  color: #00c4b1 !important;
}

.menu li:last-child a,
.menu li:last-child a:hover::before,
.menu li:last-child span {
  color: red !important;
  background-color: transparent !important;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline-block;
  padding: 25px 0px;
}

.menu ul li .active {
  color: #00c4b1 !important;
}

.menu ul li .active::before {
  background-color: #00c4b1 !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 769px) {
  .menu ul li .active::before {
    background-color: transparent !important;
  }
  .menu a:hover::before {
    background-color: transparent !important;
  }
  .menu ul li {
    padding: 8px 0px;
  }
}

/* navBar css end */

.progress-container {
  margin-top: 60px;
  margin-left: 60px;
  width: 600px;
}

.progress-name {
  font-size: 12px;
  font-weight: 550;
}

.progress-name p {
  margin: 0;
}

.progress-frame {
  margin-top: 16px;
  width: 100%;
  height: 20px;
  background-color: #efefef;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.progress-progress {
  width: 3%;
  height: 16px;
  background-color: #00c4b1;
  margin: 0px 2px;
  border-radius: 10px;
}

#contact-info,
#business-info,
#marchent-info {
  min-height: 430px;
  position: relative;
}

label {
  font-size: 15px;
  font-weight: 550;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select {
  font-size: 13px !important;
  height: 50px !important;
}
.submit-btn {
  margin-top: -26px;
}

.regContactPersonInfo {
  height: 50px !important;
}

.form-section {
  width: 45vw;
}
.signupTitle {
  color: #00c4b1;
  font-weight: bold;
}

.subtitle {
  font-size: 13px;
  color: #b5b5b5;
}
/* .doubleRowForm {
  width: 336px;
  height: 50px;
} */

/* .form-hello select {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.21) 0%,
    rgba(51, 51, 51, 0.05) 77%
  );
} */

.condition-row {
  font-family: real-mid;
  font-size: 13px;
  margin-top: 10px;
}

.condition-row a {
  text-decoration: none;
  color: black;
}

.signupButtonBox {
  /* position: absolute;
  bottom: -25px;
  right: 0; */
}

.button-back {
  background-color: #54e6d8;
}

.btnMain input {
  background-color: #00c4b1;
  color: white;
}

.btnMain input:hover {
  background-color: #00c4b1;
  color: white;
}
.form-hello {
  position: relative;
}
.icon-hello {
  position: absolute;
  right: 40px;
  top: 46px;
}

/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
} */

.mainbox {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: -1;
}

.bike-position {
  /* position: absolute; */
  /* top: 710px; */

  z-index: -1;
}

.bike-box {
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: -1;
}

.bike-area {
  width: 70rem;
  position: relative;
  padding-top: 235px;
  z-index: -1;
}

.bike-area img {
  position: absolute;
}
.bike-bg {
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
}

.bike-bike {
  width: 19%;
  height: auto;
  bottom: 0%;
  left: 6%;
}

/* .singleRowForm {
  width: 97%;
  height: 50px;
} */

.mb20 {
  margin-bottom: 20px;
}

.mar-top {
  margin-top: 10px;
}

/* .mar-row-bottom {
  margin-bottom: 10px;
} */

/* .singleRowBM {
  margin-bottom: 20px;
} */

/* animation */
.display-none {
  display: none;
}

@-webkit-keyframes kf-progress-50-p {
  from {
    width: 3%;
  }
  to {
    width: 50%;
  }
}

@keyframes kf-progress-50-p {
  from {
    width: 3%;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes kf-progress-100-p {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}

@keyframes kf-progress-100-p {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes kf-progress-50-p-back {
  from {
    width: 50%;
  }
  to {
    width: 3%;
  }
}

@keyframes kf-progress-50-p-back {
  from {
    width: 50%;
  }
  to {
    width: 3%;
  }
}

@-webkit-keyframes kf-progress-100-p-back {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

@keyframes kf-progress-100-p-back {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

/* bike animation */
@-webkit-keyframes kf-bike-50-p {
  from {
    left: 6%;
  }
  to {
    left: 39%;
  }
}
@keyframes kf-bike-50-p {
  from {
    left: 6%;
  }
  to {
    left: 39%;
  }
}

@-webkit-keyframes kf-bike-100-p {
  from {
    left: 39%;
  }
  to {
    left: 71%;
  }
}

@keyframes kf-bike-100-p {
  from {
    left: 39%;
  }
  to {
    left: 71%;
  }
}

@-webkit-keyframes kf-bike-50-p-back {
  from {
    left: 39%;
  }
  to {
    left: 6%;
  }
}

@keyframes kf-bike-50-p-back {
  from {
    left: 39%;
  }
  to {
    left: 6%;
  }
}

@-webkit-keyframes kf-bike-100-p-back {
  from {
    left: 71%;
  }
  to {
    left: 39%;
  }
}

@keyframes kf-bike-100-p-back {
  from {
    left: 71%;
  }
  to {
    left: 39%;
  }
}

@media (max-width: 1050px) {
  /* .logo {
    margin: 25px 0;
  } */
  .progress-container {
    width: 90%;
    margin-top: 50px;
    margin-left: 0;
  }
  .form-section {
    width: 70vw;
  }
  .bike-box {
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .progress-name {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  /* .doubleRowForm,
  .singleRowForm {
    width: 100%;
  } */
  #contact-info,
  #business-info,
  #marchent-info {
    position: relative;
  }

  .form-section {
    width: 95vw;
  }

  /* .mar-row-bottom {
    margin-bottom: 0;
  } */

  /* .singleRowBM {
    margin-bottom: 10px;
  } */

  .submit-btn {
    margin-top: 10px;
  }

  .bike-position {
    margin-top: -100px;
  }
}

/* reg css end */

/* contact css start */

.contactImg img {
  width: 100%;
  max-height: 20vh;
}

.contactFormWithMap {
  margin: 80px 0px;
}

.contactFormWithMap .map {
  height: 350px;
}
.getInTouchSubtitle {
  margin-bottom: 10px;
}

.getInTouchSubtitle .subtitle {
  margin-bottom: 0;
}

.officeAddress {
  margin-top: 20px;
}
.headOffice,
.subOffice,
.vl {
  display: inline-block;
}

.headOffice h3,
.subOffice h3 {
  font-size: 14px;
  font-weight: 550;
}
.headOffice p,
.subOffice p {
  font-size: 14px;
}

.vl {
  border-left: 2px solid gray;
  height: 48px;
}

.getInTouchTitle {
  color: black;
  font-weight: bold;
}

h3.getInTouchTitle.pb-3 {
  margin-top: -5px;
}

/* .getInTouchSubtitle {
  line-height: 0;
} */

@media (max-width: 768px) {
  .headOffice h3,
  .subOffice h3,
  .headOffice p,
  .subOffice p {
    font-size: 12px;
  }
  .contactFormWithMap {
    margin: 0;
  }

  .mapAddress,
  .contactForm {
    margin-top: 20px;
  }
}

/* contact css end */

/* footer section start*/

.footer h3 {
  font-size: 14px;
  font-weight: 550;
  margin-bottom: 24px;
}

.footer p,
.footer a {
  font-size: 14px;
}

.footer span {
  color: #00c4b1;
  font-size: 24px;
}

.footer hr {
  margin-bottom: 2rem;
  border: 0;
  border-top: 2px solid #00c4b1;
}

.copyright-footer {
  background-color: #00c4b1;
  color: white;
}

.copyright-footer p {
  font-weight: 550;
  font-size: 14px;
  color: #f6f6f6;
}

.footerLinks li {
  list-style-type: none;
}
.footerLinks li a:hover {
  color: black !important;
}

.footerLinks li > a {
  color: black;
  text-decoration: none;
}

.footerLinks li {
  line-height: 2;
}
/* footer section end*/
